@font-face {
    font-family: 'Tanker';
    src: url('fonts/Tanker-Regular.woff2') format('woff2'),
        url('fonts/Tanker-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Tanker', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Tanker', sans-serif;
    letter-spacing: 3px;
}

.custom-header {
    position: absolute;
    width: 100%;
    padding: 15px 0;
    z-index: 10;

    background-color: #28357a;
    /* sólido */
}

.custom-header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -40px;
    /* altura del fade */
    width: 100%;
    height: 40px;

    background: linear-gradient(to bottom,
            rgba(40, 53, 122, 1),
            rgba(40, 53, 122, 0));

    pointer-events: none;
}

.logo {
    max-height: 70px;
    width: auto;
    object-fit: contain;
}

.phone {
    color: white;
    font-weight: 500;
    font-family: 'Tanker', sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
}

.icon {
    font-size: 22px;
    color: #bfbfbf;
    /* gris */
}

.icon:hover {
    color: white;
}

.hero {
    height: 100vh;
    background-image: url("img/portada.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 14rem;
}

/* overlay */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

/* asegurar que el contenido esté por encima */
.hero .container {
    position: relative;
    z-index: 1;
    transform: translateY(-300px);
}

.hero h1 {
    font-size: 60px;
    font-weight: bold;
}

.hero p {
    font-size: 20px;
}

.hero-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    line-height: 1;
    transition: transform 0.3s ease, font-size 0.3s ease;
}

.hero-btn i {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.hero-btn:hover {
    color: white;
    text-decoration: none;
    transform: scale(1.1);
}

.lang-switch span {
    font-family: 'Tanker';
    color: white;
    cursor: pointer;
    font-size: 18px;
    opacity: 0.7;
    transition: all 0.2s ease;
}

.lang-switch span:hover {
    opacity: 1;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    padding: 0;
}

.custom-toggler {
    border: none;
    box-shadow: none;
}

.custom-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.navbar-collapse {
    background-color: #28357a;
}

@media (max-width: 991px) {
    .custom-header {
        padding: 0px;
    }

    .logo {
        max-height: 50px;
    }

    .navbar-collapse {
        margin-top: 15px;
        padding: 20px;
        border-radius: 0 0 20px 20px;
    }

    .phone {
        font-size: 22px;
    }

    .lang-switch span {
        font-size: 20px;
    }

    .hero{
        padding-top: 13rem;
    }

    .hero h1 {
        font-size: 26px;
        margin-bottom: 0px !important;
    }

    .hero-btn {
        font-size: 22px;
        margin-top: 0px;
    }

    .custom-toggler{
        border: none !important;
    }
}